.draggable-graphit
{
	position: absolute;
	cursor: move;
	z-index: 1;
}

.connector-graphit
{
	background-color: black;
}

.destination-label {
	height:30px;
	cursor:pointer;
	width:30px;
}

.connector-graphit.selected-connector {
	box-shadow:0 0 5px #036;
}

.dock_point
{
	height: 1px;
	width: 1px;
	overflow: hidden;
	padding: 0px !important;
	border: none !important;
	margin: 0px !important;
	position: absolute;
	font-size: 1px;
	visibility: hidden;
}