@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



body{
	background-color: #f5f5f5;
}


h1,  h2,  h3,  h4,  h5, h6 {
  margin: 0 0 20px 0;
  color: #3E3E3E;
  font-family: 'Montserrat', Impact, sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

.link-btn{    
	display: inline-block; 
	color: #fff;
    background-color: #2E9D9D;
    padding: 10px;
    width: 120px;
    border-radius: 5px;
    margin: 5px;
	text-decoration:none;
}
.link-btn:hover{text-decoration:none;}
.header{
	background-color: #fff;
	min-height:84px;
}

.header-contents{ padding:0 ;margin: 0 auto;  max-width: 1170px;}



.header .logo{
	float:left;
	margin-top: 17px;
    margin-right: 0px;
    margin-bottom: 8px;
    margin-left: 0px;
}

.header .portalName{
	text-transform: uppercase;
	color: #000;
    font-weight: 700;
    letter-spacing: -1px;
    padding-top: 19px;
	float:right;
	line-height:50px;
}
.header  .langSelect{
    max-width: 330px;
    margin-top: 20px;
    float: right;
    margin-right: 19px;
	width: 100%;
    font-family: 'Montserrat';
    border: 1px solid #2D9897 ;
    color: #000;
    padding: 10px;
    font-size: 19px;
}

@media screen and (max-width: 800px) {
	.header  .langSelect{
		font-size: 12px;
		width: auto;
	}
	
}

.content{position: relative; padding:0; margin: 0 auto 50px;  max-width: 1170px;}
.menu-horiz{width:100%;}
.menu-horiz ul{padding:0; margin:0;}
.menu-horiz li{float: left;}

.menu-sm{background: #1f1f1f;}

.menu-sm li{
	padding:12px 20px 0 20px;
	line-height: 0.9;
	list-style: none; 
	background: #1f1f1f; 
	height:48px; 
	
	color:#2E9D9D;
}
.menu-sm li a{ 
	font-family: "Montserrat",sans-serif; 
	text-decoration:none; 
	color:#2E9D9D;
	font-weight: 100;
    font-size: 12px;
	text-transform:uppercase;
}
.menu-sm li  b{ 
	font-weight: 700;
	font-size: 17px;
	color:#fff; 
}
.menu-sm li.active{ 
	background: #2E9D9D; 
	color:#1F1F1F;
}
.menu-sm li.active a{ 
	color:#1F1F1F;
}
.menu-sm li.active  b{ 
	color:#fff; 
}
.menu-lg ul {
	margin:5px 0;
}

.menu-lg li{
	float: left;
	display: inline-block;
	list-style:none;
	position: relative;
	height:150px;
	width: 25%;
	padding:20px;
	cursor:pointer;
}

.menu-lg li.double {
	width: 50%;
}

.menu-lg li.double form fieldset {}

.menu-lg li.double form label {
	width:20%;
}

.menu-lg li.double form input {
	font-size:0.8em;
	display:inline-block;
	margin-right:10px;
	border-radius:3px;
	width:27%;
	color:#333;
}

.menu-lg li.double form input[type="submit"] {
	float:right;
	width:auto;
	background:white;
	color:#333;
}

.menu-lg li.green{background: #2E9D9D; color: #fff;}
.menu-lg li.white{background: #fff; color: #2E9D9D;}
.menu-lg li.grey{background: #333; color: #fff;}
.menu-lg li.black{background: #666; color: #fff;}
.menu-lg li.green h2{color: #fff;}
.menu-lg li.white h2{color: #2E9D9D;}
.menu-lg li.grey h2{color: #fff;}
.menu-lg li.black h2{color: #fff;}
.menu-lg li a{text-decoration: none;}

.menu-lg li.white h4{color: #2E9D9D; float:right;}

@media screen and (max-width: 800px) {
	.menu-lg li {height:100px;}
	.menu-lg  h2{
		font-size: 20px;
		
	}
	
}

#controls h4 {
	line-height:1.5;
}


/* bootstrap override*/
.btn-primary {background-color: #2E9D9D !important;}


/*------------------------------------------*/
/*          ICON GRAPHICS                   */
/*------------------------------------------*/

.node { color:#333; }

#controls .add {
	background:#fff;
	color:#333;
}

.icon.flaticon-user:before,
.icon.glyphicon-duplicate:before,
.icon.glyphicon-envelope:before,
.icon.flaticon-smartphone-1:before,
.icon.glyphicon-download-alt:before,
.icon.flaticon-database-1:before,
.icon.glyphicon-camera:before,
.icon.glyphicon-hdd:before,
.icon.glyphicon-phone:before,
.icon.glyphicon-print:before,
.icon.flaticon-print:before,
.icon.glyphicon-leaf:before,
.icon.glyphicon-share:before,
.icon.glyphicon-usd:before,
.icon.flaticon-archive:before,
.icon.glyphicon-picture:before,
.icon.glyphicon-stats:before,
.icon.glyphicon-barcode:before,
.icon.glyphicon-time:before,
.icon.glyphicon-phone-alt:before,
#pallets .icon.glyphicon-trash:before,
.icon.glyphicon-plus:before  { 
	background: url(../icons/xer_male_black.png) center center no-repeat; 
	content: " "; 
	height: 40px;
    width: 40px;
	display: inline-block;
	background-size: 40px auto;
}

.node .icon.flaticon-user:before,
.node .icon.glyphicon-duplicate:before,
.node .icon.glyphicon-envelope:before,
.node .icon.flaticon-smartphone-1:before,
.node .icon.glyphicon-download-alt:before,
.node .icon.flaticon-database-1:before,
.node .icon.glyphicon-camera:before,
.node .icon.glyphicon-hdd:before,
.node .icon.glyphicon-phone:before,
.node .icon.glyphicon-print:before,
.node .icon.flaticon-print:before,
.node .icon.glyphicon-leaf:before,
.node .icon.glyphicon-share:before,
.node .icon.glyphicon-usd:before,
.node .icon.flaticon-archive:before,
.node .icon.glyphicon-picture:before,
.node .icon.glyphicon-stats:before,
.node .icon.glyphicon-barcode:before,
.node .icon.glyphicon-time:before,
.node .icon.glyphicon-phone-alt:before,
.node .icon.glyphicon-trash:before,
.node .icon.glyphicon-plus:before  { 
    height: 70px;
    width: 70px;    
    background-size: 115px auto; 
}

.node .icon.flaticon-user,
.node .icon.glyphicon-duplicate,
.node .icon.glyphicon-envelope,
.node .icon.flaticon-smartphone-1,
.node .icon.glyphicon-download-alt,
.node .icon.flaticon-database-1,
.node .icon.glyphicon-camera,
.node .icon.glyphicon-hdd,
.node .icon.glyphicon-phone,
.node .icon.glyphicon-print,
.node .icon.flaticon-print,
.node .icon.glyphicon-leaf,
.node .icon.glyphicon-share,
.node .icon.glyphicon-usd,
.node .icon.flaticon-archive,
.node .icon.glyphicon-picture,
.node .icon.glyphicon-stats,
.node .icon.glyphicon-barcode,
.node .icon.glyphicon-time,
.node .icon.glyphicon-phone-alt,
.node .icon.glyphicon-trash,
.node .icon.glyphicon-plus {
	width: 70px;
    height: 70px;
    display: inline-block
}

.icon.flaticon-user:before { background-image: url(../icons/xer_male_black.png); }
.icon.glyphicon-duplicate:before { background-image: url(../icons/xer_documents_black.png); }
.icon.glyphicon-envelope:before { background-image: url(../icons/xer_document_black.png); }
.icon.flaticon-smartphone-1:before { background-image: url(../icons/xer_smartphone_black.png); }
.icon.glyphicon-download-alt:before { background-image: url(../icons/xer_document_2pg_black.png); }
.icon.flaticon-database-1:before { background-image: url(../icons/xer_server_stack_black.png); }
.icon.glyphicon-camera:before { background-image: url(../icons/xer_camera_black.png); }
.icon.glyphicon-hdd:before { background-image: url(../icons/xer_laptop_black.png); }
.icon.glyphicon-phone:before { background-image: url(../icons/xer_tablet_black.png); }
.icon.glyphicon-print:before { background-image: url(../icons/xer_production_printer_black.png); }
.icon.flaticon-print:before { background-image: url(../icons/xer_versant_180_black.png); }
.icon.glyphicon-leaf:before { background-image: url(../icons/xer_download_black.png); }
.icon.glyphicon-share:before { background-image: url(../icons/xer_decision_black.png); }
.icon.glyphicon-usd:before { background-image: url(../icons/xer_presentation_black.png); }
.icon.flaticon-archive:before { background-image: url(../icons/xer_save_black.png); }
.icon.glyphicon-picture:before { background-image: url(../icons/xer_cross_media_black.png); }
.icon.glyphicon-stats:before { background-image: url(../icons/xer_data_black.png); }
.icon.glyphicon-barcode:before { background-image: url(../icons/xer_inventory_black.png); }
.icon.glyphicon-time:before { background-image: url(../icons/xer_time_black.png); }
.icon.glyphicon-phone-alt:before { background-image: url(../icons/xer_landline_phone_black.png); }
.icon.glyphicon-trash:before { background-image: url(../icons/xer_garbage_bin_black.png); }
.icon.glyphicon-plus:before { background-image: url(../icons/xer_calculator_black.png); }